<section class="concept section">
    <div class="concept__inner container-inner">
        <div class="row">
            <div class="col-9">
                <h3 class="title">
                    design-concept
                </h3>
                <div class="concept__descr section-descr">
                    <p>
                        Fully responsive layout. Excellent functionality and high performance
                    </p>
                </div>
                <div class="concept__image">
                    <img src="img/concept.png" alt="concept image">
                </div>
            </div>
            <div class="col-3">
                {{mixins.megaTitle({ num: '02', text: "concept", modifier: 'true' })}}
            </div>
        </div>
    </div>
</section>