<section class="features section">
    <div class="features__inner container-inner">
        <div class="row">
            <div class="col-5">
                {{mixins.megaTitle({ num: '5', text: "Features" })}}
            </div>
            <div class="col-7">
                <h3 class="title">
                    Features of the project
                </h3>
                <div class="section-descr">
                    <p>
                        The web site has a set of special features
                    </p>
                </div>

                <h5 class="list-title">
                    Adaptive functionality. It changes according to location and user’s search request
                </h5>

            </div>
        </div>
    </div>
    <div class="slider js-slider">
        <div class="slider__slide">
            <div class="slider__marks">
                {% for icon in ['bed', 'map-marker-alt', 'mobile-phone'] %}
                    {{mixins.mark({number: loop.index, icon: icon})}}
                {% endfor %}
            </div>
            <ul class="list slider__text js-slider-text">
                <li class="list__item">
                    User from Lviv, request “cheap property”
                </li>
            </ul>
            <div class="slider__image" style="background-image: url(img/slider_img_1.png)"></div>
        </div>
        <div class="slider__slide">
            <div class="slider__marks">
                {% for icon in ['bed', 'map-marker-alt', 'mobile-phone'] %}
                    {{mixins.mark({number: loop.index, icon: icon})}}
                {% endfor %}
            </div>
            <ul class="list slider__text js-slider-text">
                <li class="list__item">
                    User from Kyiv, request “Lviv District”
                </li>
            </ul>
            <div class="slider__image" style="background-image: url(img/build.png)"></div>
        </div>
    </div>
</section>