<section class="features section">
    <div class="features__inner container-inner">
        <div class="row">
            <div class="col-5">
                {{mixins.megaTitle({ num: '5', text: "Features" })}}
            </div>
            <div class="col-7">
                <h3 class="title">
                    Features of the  project
                </h3>
                <div class="section-descr">
                    <p>
                        The web site has a set of special features
                    </p>
                </div>

                <h5 class="list-title">
                    Adaptive functionality. It changes according to location and user’s search request
                </h5>
                <div class="slider js-slider">
                    <div class="slider__slide">
                        <img src="img/slider_img_1.png" alt="lviv slide">
                    </div>
                    <div class="slider__slide">
                        <img src="img/slider_img_1.png" alt="lviv slide">
                    </div>
                </div>
                <div class="functional__image-1">
                    <img src="img/functional_1.png" alt="functional_1">
                </div>
                <h5 class="list-title functional__list-title-2">
                    Project page. Section “Apartments planning”
                </h5>
                <ul class="list">
                    <li class="list__item">
                        2D and 3D representations of plan alternate each other
                    </li>
                </ul>
                <div class="functional__image-2">
                    <img src="img/functional_2.png" alt="functional_2">
                </div>
            </div>
        </div>
    </div>

</section>