<header class="header js-header">
    <div class="container-inner header__inner">
        <div class="header__logo">
            <div class="logo">
                <img class="logo__image" src="img/logo.png" alt="logo">
                <span class="logo__text">sparkle design</span>
            </div>
        </div>
        <div class="header__nav">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link">О нас</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link">Наши работы</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link">Услуги</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link">Клиенты</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__actions">
            <ul class="header__lang lang">
                <li class="lang__item">
                    <a href="#" class="lang__link is-active">Rus</a>
                </li>
                <li class="lang__item">
                    <a href="#" class="lang__link">Eng</a>
                </li>
                <li class="lang__item">
                    <a href="#" class="lang__link">Deu</a>
                </li>
            </ul>
            <div class="header__btn">
                <a href="#" class="order-link">Заказать</a>
            </div>
        </div>
        <div class="header__toggle">
            <a href="#" class="toggle-button js-toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>