<div class="hero">
    <div class="hero__inner">
        <div class="hero__logo">
            <a href="#">
                <img src="img/riel_logo.png" alt="riel-logo" data-anim-from="bottom">
            </a>
        </div>
        <div class="hero__right">
            
            <div class="hero__slogan">
                <div class="hero__divider" data-anim-from="right"></div>
                <h2 class="hero__title" data-anim-from="right">
                    web site for
                </h2>
                <h4 class="hero__subtitle" data-anim-from="right">
                    building company
                </h4>
            </div>
            <div class="hero__cta">
                <a href="#" class="hero__btn" data-anim-from="bottom">
                    {{mixins.icon('file-pdf')}}
                    <span>download case</span>
                </a>
            </div>
        </div>

    </div>
    <div class="hero__down" data-anim-from="opacity">
        <button class="mouse-down-btn" type="button">
            {{mixins.icon('mouse_1')}}
            {{mixins.icon('download')}}
        </button>
    </div>
</div>