{% macro icon(i) %}
    <svg class="icon icon-{{i}}">
        <use xlink:href="img/sprite.svg#icon-{{i}}"></use>
    </svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
    <!-- begin breadcrumbs -->
    <ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
        {% for item in props.list %}
            {% if loop.last %}
                <li class="breadcrumbs__item">
                    <span>{{ item }}</span>
                </li>
            {% else %}
                <li class="breadcrumbs__item">
                    <a href="#">{{ item }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- end breadcrumbs -->
{% endmacro %}

{# {% macro checkbox(props) %}
    <!-- begin input -->
    <label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
        <input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}" {% if props.checked %} checked{% endif %}="checked{% endif %}">
        <span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
    </label>
    <!-- end input -->
{% endmacro %} #}

{% macro megaTitle(props) %}
    <h2 class="block-title{% if props.modifier %} block-title_rotated{% endif %}" data-title="data-title">
        <span class="block-title__numbers">
            <span data-title-number="1">0</span>
            <span data-title-number="1">{{props.num}}</span>
        </span>
        <span class="block-title__rotated" data-title-rotater="data-title-rotater">
            {{props.text}}
        </span>
        <span class="block-title__line" data-title-line="data-title-line"></span>
    </h2>
{% endmacro %}

{% macro detail(props) %}
    <div class="details" data-detail="{{props.number}}">
        <div class="details__circles">
            <span class="details__circle-inner" data-detail-circle-inner="data-detail-circle-inner"></span>
            <span class="details__circle-outer" data-detail-circle-outer="data-detail-circle-outer"></span>
        </div>
        <div class="details__line-wrapper">
            <span class="details__line" data-detail-line="data-detail-line"></span>
        </div>
        <div class="details__box" data-detail-box="data-detail-box">
            <div class="details__text" data-detail-text="data-detail-text">
                {{props.text}}
            </div>
        </div>
    </div>
{% endmacro %}