<div data-modal="reserve" class="modal">
  <div class="modal__container" data-modal-container="data-modal-container">
    <button class="modal__close" data-modal-close="data-modal-close">
      {{ mixins.icon('close') }}
    </button>
    <div class="modal__inner">
      <div class="modal__form">
        <form action="/" class="form">
          <h3 class="modal__title form__title">Drop as a message</h3>
          <div class="form__group">
            <p class="form__label">Your name</p>
            <input
              type="text"
              class="form__input"
              value="John Olly"
              placeholder="Your name"
              name="user name"
              id="name"
            />
          </div>
          <div class="form__group">
            <p class="form__label">Your email</p>
            <input
              type="email"
              class="form__input"
              value="johnolli@gmail.com"
              placeholder="Your email"
              name="user email"
              id="email"
            />
          </div>
          <div class="form__group">
            <p class="form__label">Phone</p>
            <input
              type="text"
              class="form__input"
              value="+48 (22) 123 45 67 "
              placeholder="Your phone"
              name="user phone"
              id="phone"
            />
          </div>
          <div class="form__group">
            <p class="form__label">Attach file</p>
            <label for="file" class="form__file-label">
              <span>Attach file</span> {{ mixins.icon('paper-clip-outline') }}
            </label>
            <input type="file" class="form__file" id="file" />
          </div>
          <div class="form__group">
            <p class="form__label">Your message</p>
            <textarea
              class="form__textarea"
              placeholder="My message"
            ></textarea>
          </div>
          <div class="form__submit-group">
            <button
              type="submit"
              class="btn-submit"
              value="send"
            >
              send
            </button>
          </div>

        </form>
			</div>
			<div class="modal__contacts">
					<h3 class="modal__title">sparkle design</h3>
			</div>
    </div>
  </div>
</div>
