<section class="project section">
    <div class="project__inner container-inner">
        <div class="row">

            <div class="col-7">
                <h3 class="title">
                    Project page
                </h3>
                <div class="section-descr project__descr">
                    <p>
                        The most important page of the site, stuffed with functionality and perfectly verified by design. It is more detailed below.
                    </p>
                </div>

                <div class="project__image">
                    <img src="img/project-img.png" alt="project">
                </div>

            </div>
            <div class="col-5">
                {{mixins.megaTitle({ num: '04', text: "project page", modifier: true })}}
                <div class="details" data-detail="1">
                    <div class="details__circles">
                        <span class="details__circle-inner"></span>
                        <span class="details__circle-outer"></span>
                    </div>
                    <div class="details__line"></div>
                    <div class="details__box">
                        <div class="details__text">
                            Phone number changes according to location and user`search request
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>