[data-anim-from]
	position: relative
	opacity: 0
	transition: opacity 1s, transform 1.2s
	&.is-active
		transform: translate(0)
		opacity: 1
	
[data-anim-from="bottom"]
	transform: translateY(100px)

[data-anim-from="right"]
	transform: translateX(50px)

[data-anim-from="left"]
	transform: translateX(-50px)

[data-anim-from="opacity"]
	opacity: 0
	&.is-active
		opacity: 1
		// transform: initial

[data-anim-delay="0.3"]
	animation-delay: $tr

[data-circle-inner],
[data-circle-outer],
[data-icon-circle-inner],
[data-icon-circle-outer],
[data-icon],
[data-motion-el],
[data-numbers-list],
[data-concept-mask],
[data-title-number],
[data-title-rotated],
[data-title-line]
	opacity: 0

// [data-concept-image]
// 	transform: translateY(102%)