.concept
    background-color: $light_bg
    &.section
        padding-bottom: 142px
    &__descr
        max-width: 380px
    .block-title
        margin-left: -30px
        &__rotated_to-bottom
            transform: rotate(90deg) translate(98%,84%)
    &__images
        position: relative
    &__monitor
        position: relative
        background-position: 0 0
        padding-bottom: 63%
        background-repeat: no-repeat
    &__image-wrapper
        position: absolute
        top: 5.28%
        left: 3.5%
        height: 63%
        overflow: hidden
    &__image
        max-width: 100%
        
    //     filter: url('#green')
    //     // filter: grayscale(0.9)
    //     img
            
        // margin-bottom: 90px