.details
    // position: relative
    // z-index: $zS
    // margin-top: 100px
    // height: 120px
    // width: calc(100% + 15px)
    &__box
        padding: 0 60px 0 40px
        position: absolute
        // top: 0
        right: 0
        width: 33%
        height: 120px
        border-left: 8px solid $dark_green
        border-radius: 3px
        box-shadow: -3px 0px 7px 0 rgba(0, 0, 0, 0.15)
        background-color: $green
        transform: scaleX(0)
        transform-origin: 0 0
        +vertical
        text-align: left
        &:after
            position: absolute
            top: 0
            bottom: 0
            right: 0
            width: 20px
            background-image: repeating-linear-gradient(45deg, rgba($black, 0.2), rgba($black, 0.2) 2px,  transparent 2px,transparent 6px)
            content: ''
    &__circles
        position: absolute
        z-index: $zS
        left: 57.2%
    &__circle-inner
        +vcenter
        +circle(12)
        background-color: $green
        z-index: $z-2
    &__circle-outer
        +vcenter
        +circle(26)
        z-index: $z-1
        background-color: rgba($green, 0.3)
    .details__line-wrapper
        position: absolute
        right: 33%
        left: 57.2%
        height: 2px
        // width: 100%
        // transform: rotate(3deg) 
        transform-origin: 0 0 
        overflow: hidden
    .details__line
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background-color: $green
        transform: translateX(-105%)
        transform-origin: 0 0
    &__line
        .is-active &
            transform: scale(1)
    &__text
        +icenter
        opacity: 0
        font-size: 18px
        line-height: 1.44
        color: $white
        letter-spacing: 0.03em

[data-detail="1"]
    .details__circles
        top: 1%
        left: 47%
    .details__line-wrapper
        top: 1%
        left: 47%
        transform: rotate(44deg) 
        width: 30%
    .details__box
        top: 5.3%

[data-detail="2"]
    .details__box
        top: 11.15%
    .details__circles
        top: 12.8%
    .details__line-wrapper
        top: 12.75%
        width: 30%

[data-detail="3"]
    .details__box
        top: 20.65%
    .details__circles
        top: 22.2%
    .details__line-wrapper
        top: calc(22.2% - 1px)

[data-detail="4"]
    .details__box
        top: 28.7%
    .details__circles
        top: 23.7%
        left: 29%
    .details__line-wrapper
        width: 44%
        top: calc(23.7% - 1px)
        left: 29%
        transform: rotate(30deg)

[data-detail="5"]
    .details__box
        top: 34.44%
    .details__circles
        top: 36.05%
        left: 53%
    .details__line-wrapper
        top: calc(36.05% - 1px)
        left: 53%

[data-detail="6"]
    .details__box
        top: 40.7%
    .details__circles
        top: 35.1%
        left: 24.2%
    .details__line-wrapper
        width: 49.5%
        top: calc(35.1% - 1px)
        left: 24.2%
        transform: rotate(29deg)

[data-detail="7"]
    .details__box
        top: 48.05%
    .details__circles
        top: 45.35%
        left: 42.5%
    .details__line-wrapper
        top: calc(45.35% - 1px)
        left: 42.5%
        transform: rotate(30deg)
        width: 29%
 
[data-detail="8"]
    .details__box
        top: 53.44%
    .details__circles
        top: 55.05%
        left: 57.4%
    .details__line-wrapper
        top: calc(55.05% - 1px)
        left: 57.4%

[data-detail="9"]
    .details__box
        top: 59.97%
    .details__circles
        top: 61.55%
        left: 57.4%
    .details__line-wrapper
        top: calc(61.55% - 1px)
        left: 57.4%

[data-detail="10"]
    .details__box
        top: 70%
    .details__circles
        top: 71.55%
        left: 57.4%
    .details__line-wrapper
        top: calc(71.55% - 1px)
        left: 57.4%

[data-detail="11"]
    .details__box
        top: 83.85%
    .details__circles
        top: 85.45%
        left: 57.4%
    .details__line-wrapper
        top: calc(85.45% - 1px)
        left: 57.4%

[data-detail="12"]
    .details__box
        top: 91.4%
    .details__circles
        top: 93%
        left: 57.4%
    .details__line-wrapper
        top: calc(93% - 1px)
        left: 57.4%

[data-detail="13"]
    .details__box
        top: 96.22%
    .details__circles
        top: 97.8%
        left: 37.5%
    .details__line-wrapper
        top: calc(97.8% - 1px)
        left: 37.5%
        
        width: 30%

.mark
    position: absolute
    display: inline-block
    height: calc(26px + 119px + 66px)
    +hover 
        .mark__line
            transform: translateY(0)
    &__circles
        position: absolute
        z-index: $zS
        bottom: 0
        left: 50%
        transform: translateX(-50%)
    &__circle-inner
        +vcenter
        +circle(12)
        background-color: $green
        z-index: $z-2
    &__circle-outer
        +vcenter
        +circle(26)
        z-index: $z-1
        background-color: rgba($green, 0.3)
    &__icon-circles
        top: 0
        left: 50%
        transform: translateX(-50%)
    &__icon-circle-inner
        +circle(50)
        +vcenter
        background-color: $green
    &__icon-circle-outer
        +circle(66)
        +vcenter
        background-color: rgba($green, 0.2)
    &__icon
        +vcenter
        font-size: 0
        .icon
            color: $white
            font-size: 20px
    &__line-wrapper
        position: absolute
        top: 0
        bottom: 0
        transform: translateX(-50%)
        left: 50%
        height: 100%
        width: 2px
        overflow: hidden
    &__line-dashed
        +coverdiv
        // width: 1px
        transform: translateY(100%)
        background-image: linear-gradient(to bottom, $green 50%,  transparent 50%)
        background-size: 3px 3px 
        z-index: $z-1
    &__line-solid
        +coverdiv
        // width: 1px
        background-color: $green
        
        transform: translateY(100%)
        z-index: $z-2

[data-mark="1"]
    top: 224px
    left: 462px

[data-mark="2"]
    top: 130px
    left: 565px

[data-mark="3"]
    top: 13px
    left: 700px