.header
    // position: absolute
    // top: 0
    // left: 0
    // width: 100%
    padding: 33px 20px 
    font-family: $tahoma
    background-color: $white
    +sm 
        padding: 20px
    //     position: fixed
    //     transform: translateX(100%)
    //     top: 0
    //     left: 0
    //     height: 100%
    //     width: 100%
    //     z-index: $zS
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
    // &__logo
    //     margin-bottom: -13px
    &__nav
        margin-left: 138px
        +sm 
            transform: translateY(-300%)
            .is-active &
                transform: translateY(0)
    &__actions
        text-align: center
        position: relative
        +sm 
            transform: translateY(-300%)
            .is-active &
                transform: translateY(0)
    &__lang
        position: absolute
        bottom: calc(100% + 5px)
        left: 50%
        transform: translateX(-50%)
    &__btn
        // margin-top: 10px
    &__toggle
        display: none
        +sm 
            display: block

.main-nav
    &__list
        display: flex
        +sm 
            flex-direction: column
    &__item
        margin: 0 5px
    &__link
        display: block
        padding: 0 11px
        height: 32px
        font-size: 16px
        color: rgba(30,30,30,.8)
        text-transform: uppercase
        line-height: 2
        z-index: 2

.logo
    position: relative
    &__text
        position: absolute
        top: 36px
        left: 37px
        font-size: 7px
        color: white
        letter-spacing: .4px
        white-space: nowrap
        opacity: 0
        -webkit-transition: opacity .3s
        transition: opacity .3s

.lang
    display: inline-flex
    &__link
        padding: 3px 7px 2px
        font-size: 12px
        color: $dark_grey
        line-height: 20px
        text-transform: uppercase
        &.is-active
            color: $red

.order-link
    font-family: arial
    display: inline-block
    padding: 4px 10px 5px
    background: red
    border-radius: 3px
    font-size: 15px
    font-weight: 700
    color: rgba($white, 0.8)
    text-transform: uppercase

.toggle-button 
    position: relative
    z-index: 20
    width: 32px
    height: 24px
    display: none
    +sm
        display: block
    span
        display: block
        width: 100%
        height: 2px
        width: 24px
        background: $grey
        margin: 4px auto
        transition: all 0.3s
        backface-visibility: hidden

.toggle-button.on 
    span:nth-child(1)
        transform: rotate(45deg) translate(2px, 2px)
    span:nth-child(2)
        opacity: 0
    span:nth-child(3)
        transform: rotate(-45deg) translate(6px, -7px)
    