.processes
    height: 2000px
    background-image: url(../img/process_build.png), url(../img/process_bg.jpg)
    background-repeat: no-repeat
    background-size: auto, contain
    background-position: 100% 100%, 100% 100%
    &__main
        position: relative
        display: flex
        flex-flow: column
    &__path
        position: absolute
        top: 0
        left: 0

.process
    max-width: 470px
    display: flex
    position: relative
    margin-bottom: 56px
    &_right
        margin-left: 285px
    &__icons
        position: relative
        +flex-size(100px)
    &__circle-outer
        +vcenter
        +circle(100)
        background-color: rgba($green, 0.3)
        .process:last-child &
            background-color: rgba($blue, 0.7)
    &__circle-inner
        +vcenter
        +circle(80)
        background-color: $green
        z-index: $z-2
        .process:last-child &
            background-color: $blue
    &__icon
        +vcenter
        color: $white
        font-size: 0
        z-index: $zS
        .icon
            font-size: 30px
    &__motion-el
        +circle(20)
        background-color: $green
        position: absolute
        top: 40px
        left: 40px

        // transform: translateX(0) 
        // .process_right &
        //     left: auto
        //     right: 50px
    &__path
        position: absolute
        top: 50px
        left: 50px
        // z-index: 1
        .process_right &
            left: auto
            right: 50px
        svg
            fill-rule: evenodd
            stroke: rgb(145, 200, 76)
            stroke-width: 1px
            stroke-linecap: butt
            stroke-linejoin: miter
            opacity: 0.502
            fill: none
        path
            stroke-dasharray: 362px
            stroke-dashoffset: 362px
    &__text
        margin-left: 30px
    &__title
        font-size: 20px
        font-weight: 300
        line-height: 1.7
        letter-spacing: 1.6px
        color: #202020
    &__descr
        font-size: 18px
        font-weight: 300
        line-height: 1.33
        color: $grey

// @keyframes pulse
//     50%
//         transform: scale(1.3)

