.project
    .block-title
        margin-left: -30px
    &__descr
        max-width: 350px
        margin-bottom: 91px
    &__main
        position: relative
        // padding-left: 33%
    &__image
        margin-left: -43px
        max-width: 66%


