.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-behance {
  width: 1.13em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-left {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-right {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-file-pdf {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-mouse {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-pdf-logo {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
