.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-bed {
  width: 1.16em;
  height: 1em;
  fill: currentColor;
}
.icon-behance {
  width: 1.13em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-left {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-right {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-clone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-code {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-download {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-earth-globe {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-envelope-of-white-paper {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-file-pdf {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-gem {
  width: 1.13em;
  height: 1em;
  fill: currentColor;
}
.icon-light-bulb {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-map-marker-alt {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-mobile-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-mouse {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-mouse_1 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-paint-brush {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-paper-clip-outline {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-paperclip {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-path2 {
  width: 1.75em;
  height: 1em;
  fill: currentColor;
}
.icon-pdf-logo {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-telephone-handle-silhouette {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-user-shape {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
